<h1>学生列表</h1>
<div>
  <button (click)="addStudent()">新增</button>
  <button (click)="deleteStudent()">删除</button>
  <button (click)="randomSortStudents()">随机排序</button>
</div>
<table id="studentTable">
  <thead>
    <tr>
      <th width="10%">选择</th>
      <th (click)="sortStudents('id', orderState['id'])" width="10%">
        <a href="javascript: void(0);" class="title">ID</a>
        <span class="sort" *ngIf="selectedCol=='id'">{{orderState["id"]?"▲":"▼"}}</span>
      </th>
      <th (click)="sortStudents('name', orderState['name'])" width="20%">
        <a href="javascript: void(0);" class="title">姓名</a>
        <span class="sort" *ngIf="selectedCol=='name'">{{orderState["name"]?"▲":"▼"}}</span>
      </th>
      <th (click)="sortStudents('email', orderState['email'])" width="40%">
        <a href="javascript: void(0);" class="title">邮箱</a>
        <span class="sort" *ngIf="selectedCol=='email'">{{orderState["email"]?"▲":"▼"}}</span>
      </th>
      <th (click)="sortStudents('sex', orderState['sex'])" width="20%">
        <a href="javascript: void(0);" class="title">性别</a>
        <span class="sort" *ngIf="selectedCol=='sex'">{{orderState["sex"]?"▲":"▼"}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td><input type="radio" name="selRadio" (click)="selectStudent(student.id)" /></td>
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.sex}}</td>
    </tr>
  </tbody>
</table>