#studentTable {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
    border: solid 1px gray;
}
#studentTable th, #studentTable td {
    border: solid 1px gray;
}
#studentTable th span.sort {
    float: right;
}
#studentTable th a.title {
    display: inline-block;
}
#studentTable th span.sort {
    float: right;
    font-weight: bold;
}